*{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);  /*去除默认高光*/
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.88rem;
	background: #666;
	position: fixed;
	padding:0.2rem 0.6rem;
	box-sizing: border-box;
}
header>input{
	width: 100%;
	height: 100%;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.64rem;
	display: block;
	border:none;
	border-radius: 0.05rem;
}
dl{
	width: 100%;
	padding-top: 0.88rem;
}
dt{
	padding: 0.18rem 0.2rem;
	background: #ccc;
	font-size: 0.2rem;
	color: #ff6700;
	font-weight: bold;
}
dd{
	padding: 0.25rem 0.2rem;
	background: #F2F2F2;
	border-bottom:1px solid #ccc;
	font-size: 0.18rem;
}
dd>a{
	color: #000000;
}
.tip{
	width: 100%;
	font-size: 0.32rem;
	color: #ff6700;
	padding-left: 0.15rem;
	height: 0.88rem;
	line-height: 0.88rem;
	background: #ccc;
	position: fixed;
	top: 0.8rem;
	left: 0;
	z-index: 999;
	font-weight: bold;
}
